.nav-bar {
  background: rgba(0, 0, 0, 0.829);
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: top 0.25s ease;
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  transition: background-color 0.1s ease;
}

.color-change {
  transition: background-color 0.1s ease;
  box-shadow: 0em 0.25em 0.5em 0em #12071d;
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  background: $darkest-purple-translucent;
}

#nav-bar .hamburger-react {
  display: none;
  margin: 0.5em 0.8em;
  float: right;
  @include respond(tab-land) {
    font-size: 18px;
    display: inline;
  }

  @include respond(phone) {
    margin: 0.25em;
  }
  z-index: 998;
}

.mobile-menu {
  position: fixed;
  padding-top: 10em;
  background: #310449;

  border-left: 1.25em solid $medium-purple-color;
  box-shadow: -1em 0 0 0 $light-purple-color;
  right: -103%;
  height: 100%;
  width: 60%;
  z-index: 1;
  transition: right 0.25s ease;

  @include respond(phone) {
    width: 100%;
  }
}

.open {
  right: -2%;
  transition: right 0.25s ease;
}

.mobile-nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.mobile-nav-links li {
  margin: 1em 6em;
  width: 90%;
  text-align: center;
  background-color: $dark-purple-color;
  a {
    display: block;
    margin: 1em 0em;
    width: 100%;
  }
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0em;
  max-width: 1165px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include respond(tab-land) {
    font-size: 18px;
    display: none;
  }

  li {
    border: 2px solid transparent;
    transition: border 0.2s ease;
  }

  li:not(.resume-button-container):hover {
    background-color: $dark-purple-color;
    border-left: 0.5em solid $light-purple-color;
    border-bottom: 0.5em solid $medium-purple-color;
    border-right: 0.1em solid $light-purple-color;
    border-top: 0.1em solid $light-purple-color;
    transition: border 0.2s ease;
  }
}

.nav-links li {
  margin: 2em 10em 2em 0em;

  a:not(.resume-button) {
    padding: 0.5em;
  }
}

#nav-bar li a,
.resume-button {
  font-size: 24px;
  color: $white-color;
}

.hidden {
  top: -10%;
}

.fixed-nav {
  top: 0%;
}

.resume-button-container {
  display: flex;
  justify-content: end;
  margin-right: 1em !important;
  width: 100%;
}

.resume-button {
  background-color: $medium-purple-color;
  padding: 0.35em 1.75em;
  box-shadow: -3px 3px 0px 0px $light-purple-color;
}

.mobile-nav-links .resume-button {
  background-color: transparent;
  padding: 0;
  box-shadow: 0 0 0 0;
}
