.nav-bar {
  background-color: black;
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: top 0.25s ease;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
}

.nav-links li {
  margin: 1.5em 3em;
}

.nav-bar li a {
  font-size: 24px;
  color: $white-color;
}

.hidden {
  top: -10%;
}

.fixed-nav {
  top: 0%;
}
