#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  display: -moz-flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: black;
  animation: rotateSurface 5s ease-in-out infinite;
  // If you want to set a background image on the hero section, uncomment these with yout custom image
  $stars-small-mobile: create-box-shadows(50);
  $stars-medium-mobile: create-box-shadows(30);
  $stars-big-mobile: create-box-shadows(15);
  $stars-small: create-box-shadows(200);
  $stars-medium: create-box-shadows(50);
  $stars-big: create-box-shadows(30);

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }

  .small {
    height: 1px;
    width: 1px;
    box-shadow: $stars-small;
    animation: moveStars 150s linear infinite;

    &:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 1px;
      top: -100vh;
      background: transparent;
      box-shadow: $stars-small;
      z-index: 0;
    }

    @include respond(phone) {
      box-shadow: $stars-small-mobile;
    }
  }

  .medium {
    height: 2px;
    width: 2px;
    box-shadow: $stars-medium;

    animation: moveStars 75s linear infinite;

    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 2px;
      top: -100vh;
      background: transparent;
      box-shadow: $stars-medium;
      z-index: 0;
    }

    @include respond(phone) {
      box-shadow: $stars-medium-mobile;
    }
  }

  .big {
    height: 3px;
    width: 3px;
    box-shadow: $stars-big;
    animation: moveStars 20s linear infinite;

    &:after {
      position: absolute;
      content: '';
      height: 3px;
      width: 3px;
      top: -100vh;
      background: transparent;
      box-shadow: $stars-big;
      z-index: 0;
    }

    @include respond(phone) {
      box-shadow: $stars-big-mobile;
    }
  }

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
    padding-top: 6.5em;
  }

  @include respond(phone-xs) {
    padding-top: 6em;
  }

  #moon {
    height: 40em;
    width: 40em;
    @include respond(tab-land) {
      height: 32em;
      width: 32em;
    }

    @include respond(tab-port) {
      height: 30em;
      width: 30em;
    }

    @include respond(phone-xs) {
      height: 20em;
      width: 20em;
    }
    z-index: 999;
  }

  #moon path {
    fill: $medium-purple-color;
  }

  .hero-title {
    font-size: 8.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 6.5rem;
    }
    @include respond(tab-port) {
      font-size: 4.65rem;
      // text-align: center;
    }
    @include respond(phone) {
      font-size: 4.5rem;
      margin-bottom: 2.2rem;
    }
    @include respond(phone-xs) {
      font-size: 3rem;
    }
  }

  .title-span {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
  }

  .hero-subtitle {
    font-size: 2.8rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 2.25rem;
    }

    @include respond(tab-port) {
      font-size: 2.25rem;
    }

    @include respond(phone) {
      font-size: 1.75rem;
      line-height: 1.5;
      margin-bottom: 2.2rem;
    }

    @include respond(phone-xs) {
      font-size: 1.5rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .title-and-image-container {
    display: flex;
    flex-direction: row;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .hero-text {
    flex-direction: column;
  }

  .meteor-container {
    align-items: center;
    justify-content: center;
    padding: 1em;

    @include respond(phone) {
      margin-bottom: 4.75rem;
    }
  }

  .hero-text,
  .meteor-container {
    display: flex;

    @include respond(phone) {
      width: 100%;
    }
  }

  .meteor {
    // background: $dark-blue-color;
    // background: radial-gradient(circle, $dark-blue-color 0%, $cyan-color 100%);
    height: 40em;
    width: 40em;
    border-radius: 50%;

    box-shadow: 0px 0px 20px 5px $dark-purple-color;

    @include respond(tab-land) {
      height: 33em;
      width: 33em;
    }

    @include respond(phone) {
      height: 29em;
      width: 29em;
    }

    @include respond(phone-xs) {
      height: 20em;
      width: 20em;
    }
  }
}

.meteor-container::before,
.meteor-container::after {
  height: 40em;
  width: 55em;
  position: absolute;
  content: '';
  background: transparent;
  border-radius: 50%;
  animation: moveRings 10s linear infinite;

  @include respond(tab-land) {
    width: 47em;
  }

  @include respond(phone) {
    width: 43em;
  }

  @include respond(phone-xs) {
    width: 35em;
  }
}

.meteor-container::before {
  border: 15px solid $light-purple-color;
  z-index: -1;
}

.meteor-container::after {
  border-bottom: 20px solid $light-purple-color;
  // box-shadow: 0px 0px 20px 5px $light-purple-color;
}

.meteor-container img {
  object-position: left;
  object-fit: fill;
}

@keyframes moveStars {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(100vh);
  }
}

@keyframes rotateSurface {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes moveRings {
  0% {
    transform: rotateZ(-45deg) rotateX(80deg) translateX(-5px);
  }
  50% {
    transform: rotateZ(-42deg) rotateX(80deg) translateX(10px);
  }
  100% {
    transform: rotateZ(-45deg) rotateX(80deg) translateX(-5px);
  }
}
