.footer {
  background-color: $dark-purple-color;
  color: $white-color;
  padding: 2.5rem 0;
  margin: 0em 1em 4em 1em;
  border-bottom: 3.25em solid $medium-purple-color;
  box-shadow: 0 3em 0 0 $light-purple-color;
  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken(white, 50%);
    font-size: 1.3rem;

    a {
      color: darken(white, 50%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: $dark-grey;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: start;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $white-color;
    font-size: 2.5rem;
    // width: 5rem;
    // height: 5rem;
    margin-left: 4em;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
  i {
    margin-left: 0.5em;
  }
}

.back-to-top {
  margin-left: auto;
  margin-right: 5.5em;
}

.back-to-top div {
  cursor: pointer;
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 1rem $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

footer .container {
  margin: 0;
  max-width: 100%;
}
