html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: $medium-purple-color black;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: $black-color;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: rgb(82, 5, 123);
  background: linear-gradient(
    0deg,
    rgba(82, 5, 123, 1) 0%,
    rgba(137, 44, 220, 1) 50%,
    rgba(188, 111, 241, 1) 100%
  );
  border-radius: 10px;
}
